.formContainer {
  background-color: white;
  border-radius: 8px;
  min-width: 300px;
  width: 60%;
  max-width: 600px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h3 {
  font-size: 20px;
  font-weight: normal;
  color: #2f2f2f;
}

h2 {
  font-size: 30px;
  font-weight: bolder;
  color: #6358dc;
}

form {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  
  .inputContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ececec;
    padding: 10px 15px;
    border-radius: 8px;

    .left {
      display: flex;
      flex-direction: column;
      gap: 3px;
      width: 80%;

      label {
        font-size: 11px;
      }

      input {
        border: none;
        font-weight: bold;
        background-color: inherit;
        font-size: 13px;
        color: #2f2f2f;
      }
    }

    svg {
      width: 25px;
      height: 20px;
    }
  }

  button {
    margin-top: 10px;
    border: none;
    width: 100%;
    padding: 10px 0;
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
    color: white;
    background-color: #6358dc;
    border-radius: 9px;
    transition-duration: .3s;
  }

  button:hover {
    background-color: #4235d6;
  }

  p {
    text-align: center;
    font-size: 13px;

    b {
      cursor: pointer;
      color: #6358dc;
      margin-left: 5px;
    }

    b:hover {
      text-decoration: underline;
    }
  }
}
